<div class="row">
  <h1>
    <div class="col-md-4">Checkout</div>
    <div class="col-md-8">
      <small>ADDRESS | <strong>DELIVERY</strong> | PAYMENT | CONFIRM | COMPLETE</small>  
    </div>
  </h1>
</div>
